
@media screen and (min-width:1024px){
    
    section.cover{
        margin-top: 80px;
    }

}

@media screen and (max-width:767px){

    body{
        overflow-x: hidden;
    }
    header{
        height: auto;
    }
    header.heads{
        padding: 0;
        min-height: 50px;
        height: auto;
    }
    header.heads nav.navbar{

    }
    
    header.heads nav .navbar-brand{
        max-width: 135px;
    }
    header.heads .navbar-light .navbar-toggler{
        border: 0px; 
        border-radius: 0px;
        padding: 0;
    }
    header.heads nav.navbar ul.navbar-nav{
        margin-top: 0.5rem;
        padding-top: 0.5rem;
        border-top: 1px solid #e8e8e8;
        margin-right: 0;
    }
    header.heads nav.navbar ul.navbar-nav li{
        padding: 0.2rem 0;
    }
    header.heads nav.navbar ul.navbar-nav li a{
        padding-top: 0; 
        padding-bottom: 0;
        font-size: 14px !important;
    }    
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top li.button-butt,
    header.heads nav.navbar ul.navbar-nav li.button-butt{
        margin-left: 0;
        color: #fff;
        border-radius: 0px;
        height: auto;
        padding-left: 0;
        padding-right: 0;
        background: transparent;
        width: auto;
        text-align: left;
        margin-top: 0;
    }
    header.heads nav.navbar ul.navbar-nav li.button-butt a{
        color: rgba(0,0,0,.5) !important;
        font-weight: 700 !important;
        margin-top: 0;
    }
    header.heads nav.navbar ul.navbar-nav{
        padding-bottom: 0.7rem;
    }

    .carousel-item{
        min-height: inherit;
        height: inherit;
    }

    header.heads nav.navbar .container{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    section.home-sec-1 .box-content p{
        text-align: left;
    }
    section.home-sec-1 .box-content p{
        margin-top: 0;
    }
    .footer .content{
        margin-top: 1.2rem;
    }
    section.footer .content ul.def_ul li a{
        font-size: 14px;
    }
    section.footer .content ul.def_ul li {
        margin-top: 0px!important;
    }
    section.home-sec-2 .prelative.container2 .box-content p{
        font-size: 15px;
    }

    header.heads .navbar-light .navbar-toggler:focus,
    header.heads .navbar-light .navbar-toggler:hover{
        text-decoration: none;
        outline: none; border: 0px;
    }

    .box-content2-yeayyy:hover h6,
    .box-content2-yeayyy h6{
        font-size: 23px;
    }
    .box-content2-yeayyy:hover p,
    .box-content2-yeayyy p{
        font-size: 16px;
    }
    .box-content2-yeayyy:hover,
    .box-content2-yeayyy{
        height: auto;
    }
    section.home-sec-4 .content h5{
        font-size: 25px;
    }
    section.home-sec-4 .content p{
        font-size: 16px;
    }
    section.home-sec-4 .box-content form button {
        height: auto;
        font-size: 23px;
        line-height: 1.2;
        padding: 0.7rem 0;
    }
    section.cover .prelative.container2 .box-content h5{
        font-size: 2rem;
    }
    section.cover .prelative.container2 .box-content p{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 16px;
    }
    section.artikel-sec-1 .sidebar-art ul{
        margin-right: 0;
        margin-bottom: 1.8rem;
    }
    header.heads nav.navbar ul.navbar-nav li.button-butt, nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top li.button-butt{
        padding-top: 0.2rem;
    }
    section.layanan-sec-1 .box-content .text-right{
        text-align: center !important;
    }
    .details_fx_services{
        padding: 1.7rem 15px 0;
    }



    // other editing
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top{
        height: auto;
    }
    .title-content h3
    {
        font-size: 2.5rem;
    }
    .arrow{
        img{
            width: 250px;
        }
    }
    section.home-sec-1 .row .col-md-30.col-30{
        padding: 0;
    }
    section.home-sec-1 .row .col-md-30.col-30 .image{
        padding: 0 10px;
    }

    section.home-sec-1 .row .col-md-30 .row{
        padding: 0 25px;
    }
    section.home-sec-1 .box-content{
        padding: 0 20px;
    }
    section.home-sec-1 .box-content h4{
        font-size: 1.4rem;
        margin-top: 25px;
    }
    section.home-sec-1{
        margin-bottom: 3rem;
        margin-top: 4rem;
    }
    section.home-sec-2 .prelative.container2 .box-content{
        padding: 30px 20px;
    }
    section.home-sec-2 .prelative.container2 .box-content h5{
        font-size: 23px;    
    }
    section.home-sec-2 .prelative.container2 .box-content p{
        margin-bottom: 30px;
    }
    section.home-sec-3{
        margin-top: 50px;
    }
    section.home-sec-3 .box-content {
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
    }
    section.home-sec-3 .box-content img {
        margin-bottom: 10px;
    }
    section.home-sec-3 .box-content img {
        margin-bottom: 10px;
    }
    section.home-sec-3 .box-content h5{
        margin-bottom: 0;
    }
    section.home-sec-3 .row.no-gutters{
        margin-top: 30px;
    }
    .box-content2-yeayyy {
        background: #028496;
        height: 370px;
        padding: 50px 30px;
        border: 1px solid #fff;
        cursor: pointer;
        margin: 0 auto;
        text-align: center;
    }
    .box-content2-yeayyy h6{
        font-size: 26px;
    }
    section.home-sec-4 {
        background: #028496;
        height: 100%;
        position: relative;
    }
    section.home-sec-4 img{
        text-align: center;
        display: block;
        position: relative;
        margin-right: auto;
        margin-left: auto;
    }
    section.home-sec-4 .content h5{
        font-size: 31px;
    }
    section.home-sec-4 .box-content{
        margin-bottom: 50px;
    }
    section.home-sec-5{
        margin-top: 50px;
    }
    section.home-sec-5 .arrow{
        margin-bottom: 0;
    }
    section.home-sec-5 .box-content{
        margin-top: 30px;
    }
    section.home-sec-5 .box-content p{
        margin-top: 0;
    }
    section.home-sec-5 .box-content h6{
        margin-top: 15px;
    }
    section.home-sec-5 button{
        margin: 50px auto 50px;
    }
    section.home-sec-6 .paginationclass{
        float: left;
        margin-top: 25px;
        margin-bottom: 0px;
    }
    section.home-sec-6 .box-content{
        height: 400px;
        margin-top: 30px;
    }
    section.home-sec-6{
        margin-bottom: 50px;
    }
    section.footer .content .medsos{
        margin-bottom: 20px;
    }
    section.cover{
        margin-top: 0px;
    }
    section.cover .prelative.container2 .box-content{
        padding: 1.5rem 15px
    }
    section.layanan-sec-1{
        margin-top: 50px;
    }
    section.layanan-sec-1 .arrow{
        margin: 0;
    }
    section.layanan-sec-1 .box-content{
        margin: 50px auto 0;
        display: block;
        text-align: center;
    }
    section.layanan-sec-1 .box-content p{
        margin-top: 5px;
    }
    section.layanan-sec-1 .box-content h5{
        margin-top: 15px;
    }
    .lists_layanan_defk .n_item .bx_content a.btn.btn-info{
        cursor: pointer;
        width: 170px;
        height: 46px;
        border-radius: 4px;
        background-color: #028496;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        margin-bottom: 10px;
    }
    section.layanan-sec-2{
        margin: 50px 0;
    }
    section.artikel-sec-1{
        margin-top: 50px;
    }
    section.artikel-sec-1 .sidebar-art ul{
        padding-top: 10px;
    }
    .list_artikel_blogs .box-content{
        height: 430px !important;
    }
    section.perawat-sec-1{
        margin: 50px 0;
    }
    section.perawat-sec-1 .arrow{
        margin: 0;
    }
    section.perawat-sec-1 .box-content h5{
        font-size: 17px;
    }
    section.perawat-sec-1 .box-content .contents {
        padding-top: 0.5rem;
    }
    section.perawat-sec-1 .box-content{
        padding-top: 30px;
    }

    .carousel-indicators{
        bottom: 0;
    }
    section.home-sec-1 .box-content h4{
        margin-bottom: 0.8rem;
    }
    section.home-sec-1 .box-content p{
        font-size: 15px;
    }
    section.home-sec-1 .box-content p,
    p{
        text-align: justify;
    }
    section.home-sec-3 .box-content img{
        width: 100%;
    }
    section.home-sec-3 .box-content p{
        text-align: center;
    }
    .box-content2-yeayyy:hover,
    .box-content2-yeayyy{
        height: auto;
        padding: 1.5rem 3rem;
    }
    section.home-sec-3 .row.no-gutters{
        margin-top: 0;
    }
    section.home-sec-4 img{
        display: none;
    }
    .owl-theme .owl-dots{
        margin-top: 0 !important;
    }
    .owl-theme .owl-nav{
        display: none;
    }
    section.home-sec-6 .box-content{
        padding-bottom: 1rem;
        height: auto;
    }
    .lefts_contact {
        padding-top: 3rem;
    }
    .rights_contact{
        padding: 3rem 0 !important;
    }
    .rights_contact form{
        padding: 2.1rem 1.2rem;
    }
    .prelative.container2{
        padding-left: 15px;
        padding-right: 15px;
    }
    
    section.layanan-sec-1 .box-content button,
    .lists_layanan_defk .n_item .bx_content a.btn.btn-info{
        width: auto;
        height: auto;
        font-size: 14px;
        border: 0;
        padding: 0.4rem 2rem;
        min-width: 160px;
    }
    section.layanan-sec-1 .box-content h5{
        font-size: 25px;
    }
    .lists_layanan_defk .n_item .bx_content p{
        text-align: center;
        font-size: 15px;
    }
    section.cover .prelative.container2 .box-content{
        padding-left: 0;
        padding-right: 0;
    }
    section.artikel-sec-1 .sidebar-art ul li a{
        font-size: 16px;
        margin-top: 8px;
        padding-bottom: 8px;
    }
    .list_artikel_blogs .box-content{
        height: auto !important;
    }
    section.artikel-sec-1 .sidebar-art h5{
        font-size: 25px;
    }
    .layanan-sec-1 .arrow{
        padding-bottom:3rem;
    }
    .outers_list_lowongan_data .items .infos{
        text-align: center;
    }
    section.home-sec-1 .box-content{
        padding: 0;
    }
    section.home-sec-2 .prelative.container2 .box-content{
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
    .outers_list_testimonial{
        margin-top: 1rem;
    }

    .top_headmobile{
        i.fa{
            font-size: 22px;
            color: grey;
        }
        .logo_nmobile{
            position: relative;
            padding: 0.5rem 0;
            top: -3px;
            right: -45px;
            img{
                max-width: 130px;
            }
        }

        .brand-logo{
            left: inherit;
            right: 0px;
            width: auto;
            display: block;
        }
    }

    header.heads nav{
        height: 70px;
        line-height: 70px;
        .sidenav-trigger{
            top: 5px;
        }
    }
    ul.sidenav{
        li.tops_logo{
            border-bottom: 3px solid #ccc;
            margin-bottom: 1rem;
        }
        li{
            a{
                font-size: 14px;
                font-weight: 600;
                color: rgb(3, 83, 91);
                i.fa{
                    font-size: 18px;
                    margin-right: 10px;
                }
            }
        }
    }

    .mw-160{
        max-width: 210px;
    }
    section.footer .content1{
        .form-group{
            input.form-control{
                width: auto;
                height: auto;
                min-width: 300px;
                margin-top: 0;
                margin-bottom: 0;
            }
            // margin-bottom: 0;
        }
        button{
            margin-top: 0;
            width: auto;
            height: auto;
            min-width: 300px;
            padding: 1rem 0;
        }
    }
    section.footer .content1 h5{
        margin-top: 0.7rem;
        font-size: 18px;
        letter-spacing: 1px;
        text-transform: capitalize;
        font-weight: 700;
    }

    .buttons_call_flying{
        display: none;
    }
    section.footer{
        padding-bottom: 5rem;
    }

    section.home-sec-4 .box-content form button{
        font-size: 20px;
    }

    .wptwa-container{
        display: none;
    }
    section.footer .content ul.sec-3 li span{
        font-size: 14px;
    }
    section.footer .content h5{
        font-size: 18px;
    }

}

nav ul li.active {
    background-color: rgba(0, 0, 0, 0.03);
}