body{
	overflow-x: hidden;
}

header.heads{
	padding: 0 15px;
	nav.navbar{
		// overflow: hidden;
		min-height: 105px;
		height: auto;
		ul.navbar-nav{
			li{
				display: inline-block;
				padding: 0 0.45rem;
				a{
					font-weight: 600 !important;
				}
				.dropdown-menu{
					a{
						font-size: 15px !important;
					}	
				}
			}

			li.button-butt{
			    width: auto;
			    height: 35px;
			    border-radius: 4px;
			    background-color: #028496;
			    padding: 0rem 1rem;
			    margin-left: 0.8rem;
			}
			li:hover,
			li:focus,
			li.active{
				a{
					color: #013439 !important;
				}
			}

		}
	}
	.logos_nleft_header{
		max-width: 214px;
	}
	clear: both;
}
header.heads.inside_pg{
	nav{
		position: relative;
		top: inherit;
		right: inherit;
		left: inherit;
	}
}

.prelative.container{
	padding: 0 15px;
}
.container{
	max-width: 1440px;
}

section.footer{
	.logo_footers{
		max-width: 210px;
		img{
			position: relative;
			margin-left: -23px;
		}
	}
	.content{
		ul.def_ul{
			li{
				margin-top: 5px !important;
				a{
					font-size: 14px;
					color: #000;
					font-weight: 400;
				}
				i.fa{
					color: #028496;
					font-size: 20px;
				}
				a:hover,
				a:focus{
					text-decoration: none;
					color: #013b40;
				}
			}
		}

		ul.sec-1.def_ul{
			li{
				font-size: 14px;
				font-weight: 400;
			}
		}
	}
	.content1{
		button,
		input{
			width: 100%;
		}
		input{
			height: 42px;
			border-radius: 0px;
			font-size: 13px;
			padding: 15px 22px;
		}
		button{
			font-size: 17px;
		}
		width: auto;
	}
	padding-bottom: 3rem;
	clear: both;
}


.list_artikel_blogs{
	.box-content{
		.pictures{
			img{
				border-radius: 0px;
			}
		}
		.info{
			span.dates{
				font-size: 13px;
				font-weight: 400;
				color: #888;
			}
			h5{
				margin-top: 5px;
			}
			padding-bottom: 1.5rem;
		}
		height: 460px !important;
		overflow: hidden;
		margin-bottom: 2rem !important;
	}
	clear: both;	
}

section.artikel-sec-1 .sidebar-art ul li{
	a{
		font-size: 20px;
		margin-top: 15px;
	}
}

h3.customs_title{
	font-size: 29px;
	font-weight: 400;
	color: #028496;
}

section.perawat-sec-1 .box-content p{
	font-size: 16px;
} 

#back-top a{
	display: block;
	position: absolute;
	bottom: 0px;
	right: 0px;
	z-index: 150;
	padding: 0.4rem 0.8rem;
	background-color: #fff;
	i.fa{
		font-size: 16px;
		color: #000;
	}
}
body{
	position: relative;
}


.details_content_article{
	h3.titles{
		font-size: 32px;
	}

	ul li,
	p{
		font-size: 15px;
		font-weight: 400;
		margin-bottom: 1.5rem;
	}
	ul li{
		margin-bottom: 0;
		padding: 0.5rem 0;
	}

	clear: both;
}


.lists_layanan_defk{
	.n_item{
		.bx_content{
			p{
				font-size: 16px;
				font-weight: 400;
				line-height: normal;
			}
			a.btn.btn-info{
				font-size: 14px;
				padding-left: 1.7rem;
				padding-right: 1.7rem;
				background-color: #028496;
			}
			a.btn.btn-info:hover,
			a.btn.btn-info:focus{
				background-color: #007B8C;
			}
		}
	}
	clear: both;
}
a.btn-info{
	font-size: 14px;
	padding-left: 1.7rem;
	padding-right: 1.7rem;
	background-color: #028496;
}
a.btn-info:hover,
a.btn-info:focus{
	background-color: #007B8C;
}

a.btn-link{
	font-size: 14px;
	padding-left: 1.7rem;
	padding-right: 1.7rem;
	background: transparent !important;
	padding: 0 !important;
	background-color: transparent;
	color: #000;
	vertical-align: bottom;
	box-shadow: none;
	outline: none;
}
a.btn-link:hover,
a.btn-link:focus{
	background: transparent;
	background-color: transparent;
	color: #000;
	box-shadow: none;
	outline: none;
}

.details_fx_services{
	ul li,
	p{
		margin-bottom: 1.6rem;
	}
	ul li{
		margin-bottom: 0;
	}
}

section.perawat-sec-1 {
	.box-content{
		.pictures{
			img{}
		}

		.contents{
			p,
			h5{
				margin-top: 0;
				vertical-align: bottom;
			}
			padding-top: 1.5rem;
		}
		button{
			width: auto;
			height: auto;
			border: 0px;
			font-size: 16px;
			padding: 0.5rem 2rem;
			// display: block;
			line-height: 1;
		}
	}
}

section.footer{
	margin-top: 0;
	padding-top: 2.5rem; 
}


.card-container .details-info [class^=col-md-], 
.card-container .short-description {
    padding: 8px 0;
    border-bottom: 1px solid #eaeaea;
}
.nopad {
    padding-left: 0;
    padding-right: 0;
}
.card-container .details-info {
    color: #7a858f;
    text-align: left;
    font-size: 14px;
}
.logo-container {
    display: inline-block;
    width: 26px;
    text-align: center;
    margin-right: 5px;
}
.blocks_nod_lar{
	padding: 0 15px;
}


.modal-cover {
    text-align: center;
    width: 100%;
    height: 130px;
    position: relative;
    background-image: url('../images/img-featured.jpg');
    background-size: cover;
    background-position: left 25%;
    margin-bottom: 65px;
    .modal-img-container {
	    position: absolute;
	    bottom: -65px;
	    left: 50%;
	    -webkit-transform: translateX(-50%);
	    transform: translateX(-50%);
	    border-radius: 50%;
	    width: 130px;
	    height: 130px;
	    overflow: hidden;
	}
}
.modal-cover:before {
    background: rgba(18,134,217,.9);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.modal-header-title {
    text-align: center;
    clear: both;
    margin: 15px 0;
}
.clearfix{
	// clear: both;
}
.break-line, .modal-cover:before, .with-bg-one:before, .with-bg-two:before {
    content: " ";
}
.perawats_modal{
	.modal-header{
		display: block;
		align-items: inherit;
		position: relative;
		button.close{
			position: absolute;
			top: 0px;
			right: 0px;
			margin: 0rem 0.4rem;
		}
	}
}


.content-text.def_content{
	p, ul li{
		line-height: 1.4;
		font-size: 16px;
		margin-bottom: 1.2rem;
	}
	p{
		text-align: justify;
	}
	ul li{
		display: block;
		padding: 0.3rem 0;
		margin: 0;
	}
	h1, h2, h3, h4, h5{
		margin: 0;
		margin-bottom: 1.3rem;
		line-height: 1.2;
		font-weight: 600;
		color: #028496;
	}
	h1{ font-size: 32px;  }
	h2{ font-size: 29px;  }
	h3{ font-size: 27px;  }
	h4{ font-size: 25px;  }
	h5{ font-size: 23px;  }

	p{
		img{
			max-width: 100%;
		}
	}
	clear: both;
}

.outers_list_lowongan_data{

	.items{
		.pictures{
			img{}
		}
		.infos{
			h4{
				margin-bottom: 0.9rem;
				font-size: 21px;
				text-transform: inherit;
			}
			p{
				font-size: 15px; line-height: 1.3;
			}
			padding: 1.1rem 1.3rem;
			background-color: #f5f5f5;
			clear: both;
			a.btn{
				border-radius: 0px;
			}
		}
		margin-bottom: 1.5rem;
	}
	clear: both;
}

.customs_faq_block{
	.card{
		.card-header{
			background-color: transparent;
			padding: 0.7rem 0;
			button{
				padding: 0px;
				font-size: 19px;
				font-weight: 600;
				color: #028496;
			}
			button:hover,
			button:focus{
				text-decoration: none;
				color: #005A67;
			}
		}
		.card-body{
			padding: 0.9rem 0;
		}
		border-radius: 0px;
		border: 0px;
	}
}

.lefts_contact{
	p{
		a{
			color: #008294;
		}
	}
}
.rights_contact{
	form{
		background-color: #028496;
		padding: 2.1rem 1.6rem;
		.form-group{
			label{
				font-size: 15px;
				color: #f5f5f5;
			}
			input, textarea{
				font-size: 14px;
				border-radius: 0px;
				background-color: transparent;
				color: #fff;
				padding-left: 1rem;
				padding-right: 1rem;
			}
		}
		button{
			border-radius: 0px;
			padding-left: 2rem;
			padding-right: 2rem;
		}
		label.radio{
			padding-right: 0.7rem;
		}

		h4{
			font-size: 23px !important;
			color: #fff !important;
			margin-bottom: 8px !important;
		}
	}
	clear: both;
}

section.home-sec-5{
	.outers_list_testimonial{
		.box-content{
			padding: 0 10px;
			.pictures{
				img{
					max-width: 130px;
					display: block; 
					margin: 0 auto; text-align: center;

				}
			} 

			p{
				margin-top: 20px;
			}
		}
	}
	clear: both;
}
 
.owl-theme .owl-dots{
	margin-top: 2.3rem !important;
	display: block;
}
.owl-theme .owl-dots .owl-dot{
	width: 20px;
}
header.heads .logos_nleft_header{
	position: relative;
	bottom: 10px;
}

.list_default_perawat{
	.items{
		.pictures{
			img{
				border: 1px solid #028496;
			}
			border-bottom: 10px solid #028496;
			// -moz-border-radius-bottomright: 5px;
			// -webkit-border-bottom-right-radius: 5px;
			// border-bottom-right-radius: 5px;
			// -moz-border-radius-bottomleft: 5px;
			// -webkit-border-bottom-left-radius: 5px;
			// border-bottom-left-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
		}

	}
}

.forms_register_apply{
	form{
		margin: 0;
		h5{
			font-size: 25px;
			font-weight: 700;
			color: #fff !important; 
			border-bottom: 5px solid #f5f5f5;
			// display: inline-block;
			
		}
		.col-60,
		.col{
			label{
				display: block;
				text-align: left;
				font-size: 14px;
				font-weight: 500; color: #EBEBEB;
			}
			select,
			input{
				display: block;
				width: 100%;
				height: 32px;
				border-radius: 0px;
				border-bottom: 1px solid #ccc;
				color: #fff; 
			}
			input::placeholder, 
			select::placeholder{
				color: #fff; 
			}
			select,
			textarea{
				background: transparent;
				border-radius: 0px;	
				border: 0;
				border-bottom: 1px solid #ccc;
				color: #fff;
			}
			select{
				background-color: #028496;
				color: #fff;
			}
		}
		.row.default{
			margin-bottom: 0rem;
			.col,
			.col-60{
				margin-bottom: 0.2rem !important;
			}
		}
	}
}

section.home-sec-5 .outers_list_testimonial .box-content{
	max-width: 380px;
	display: block;
	margin: 0 auto;
}

#myCarousel_home.carousel{
	ol.carousel-indicators{
		li{
			background-color: #ccc;
			cursor: pointer;
		}
		li.active{
			background-color: #B1B1B1;
			cursor: pointer; 
		}
	}
}

.buttons_call_flying{
	a{
		display: block;
		max-width: 215px;
	}
	a:focus,
	a:hover{
		opacity: 0.95;
	}
	position: fixed;
	bottom: 50px;
	right: 20px;
	z-index: 150;
}

.navbar-nav .dropdown-menu{
	z-index: 60;
}

section.float_foot{

	.contents{
		.c_icon{
			max-width: 40px;
			height: auto;
			display: block;
			margin: 0 auto; 
			margin-bottom: 0.1rem;
			i.fa{
				font-size: 17px;
				color: #fff;
			}
		}
		.txts{
			color: #fff;
			font-size: 13px;
			text-decoration: none;
			display: block;
			line-height: 1;
		}
		padding: 0.7rem 0;
		border-right: 1px solid #fff;
		text-align: center;
	}
	.row{
		margin-bottom: 0;
	}
	background-color: #028496;
	color: #fff;
	clear: both;
	width: 100%;

	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 360;
}


nav ul a:hover {
    background-color: rgba(0, 0, 0, 0.02);
}